<ul class="form-container">
  <li class="item item_1">
    <label for="first-input">ABHOLUNG & RÜCKGABE</label>
    <span class="item_1-info">Rückgabe ändern</span>
    <div class="location-icon"></div>
    <input type="text" id="first-input" value="Faro Flughafen">
  </li>
  <li class="item item_2">
    <div>
      <label for="second-input">ABHOLZEIT</label>
      <div class="calendar-icon"></div>
      <input type="text" id="second-input" value="15.07.2017  12:00">
    </div>
    <div>
      <label for="third-input">RÜCKGABEZEIT</label>
      <div class="calendar-icon"></div>
      <input type="text" id="third-input" value="16.07.2017  09:00">
    </div>
  </li>
  <li class="item item_3">
    <div class="for-button"></div>
    <div class="button-arrow"></div>
    <button id="button"><span>Preise ermitteln</span></button>
  </li>
</ul>